.search {
     position: relative;
     background-color: white;
     width: 40px;
     height: 40px;
     border: 1px solid #2573ef;
     box-shadow: 0 0 0 0.5px #2573ef;
     border-radius: 50px;
     margin: -5px 0 5px;
     overflow: hidden;
     transition: .5s;


     .icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 45px;
          height: 45px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10000;
          cursor: pointer;
     }

     .icon::before {
          content: '';
          position: absolute;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid #287dfc;
          transform: translate(-6px, -7px);
     }

     .icon::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 12px;
          border: 2px solid #287dfc;
          transform: translate(3px, 2px) rotate(315deg);
     }
}

.search.active {
     width: 380px;
}

.search .input {
     position: relative;
     width: 250px;
     height: 38px;
     left: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.search .input input {
     position: absolute;
     top: 0;
     width: 180%;
     padding: 0 100px;
     height: 100%;
     background-color: transparent;
     border: transparent;
     outline: transparent;

}

.clear {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 15px;
     height: 15px;
     right: 15px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: .5s;
     z-index: 10000011110;
}

.clear::before {
     content: '';
     position: absolute;
     width: 1px;
     height: 15px;
     background-color: #999;
     transform: rotate(45deg);
}

.clear::after {
     content: '';
     position: absolute;
     width: 1px;
     height: 15px;
     background-color: #999;
     transform: rotate(-45deg);
}